<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professional Details</title>
    <link rel="stylesheet" href="/static/professional_details.css" />
  </head>
  <body>
    <div class="container">
      <!-- Card Layout -->
      <div class="card">
        <div class="card-header">CustomerDetails</div>
        <div class="card-body">
          <div>
            <span class="label">Service ID:</span>
            <span class="value">{{user.User_Id}}</span>
          </div>
          <div>
            <span class="label">Name:</span>
            <span class="value">{{user.Full_name}}</span>
          </div>
          <div>
            <span class="label">Pincode:</span>
            <span class="value">{{user.Pin_code}}</span>
          </div>
          <div>
            <span class="label">Email:</span>
            <span class="value">{{user.Email}}</span>
          
        </div>
      </div>

      <!-- Table Layout -->
      <h2>Service Request History</h2>
      <table>
        <thead>
          <tr>
            <th>Service Request Id</th>
            <th>Professional Id</th>
            <th>Requested Date</th>
            <th>Status</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for request in service_requests %}
          <tr>
            <td>{{request.Service_Request_Id}}</td>
            <td>{{request.Professional_id}}</td>
            <td>{{request.Requested_date}}</td>
            <td>{{request.Status}}</td>
            <td>{{request.Rating}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
