<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Professional Signup</title>
    <link rel="stylesheet" href="/static/register_professional.css" />
  </head>
  <body>
    <div class="signup-container">
      <h1>Service Professional Signup</h1>
      <form
        method="POST"
        action="{{ url_for('professional_signup') }}"
        enctype="multipart/form-data"
      >
        <label for="email">Email ID (Username) :</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password :</label>
        <input type="password" id="password" name="password" required />

        <label for="fullname">Full Name :</label>
        <input type="text" id="fullname" name="full_name" required />

        <label for="service_name">Service Name :</label>
        <select id="service_name" name="service_name" required>
          <option value="" disabled selected>select available services</option>
          {% for service in services %}
          <option value="{{ service.Name_of_service }}">
            {{ service.Name_of_service }}
          </option>
          {% endfor %}
        </select>

        <label for="experience">Experience (in yrs) :</label>
        <input type="number" id="experience" name="experience" required />

        <label for="address">Address :</label>
        <textarea id="address" name="address" rows="3" required></textarea>

        <label for="pincode">Pin Code :</label>
        <input type="text" id="pincode" name="pincode" required />

        <button type="submit">Register</button>
        <p>
          Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
        </p>
      </form>
    </div>
  </body>
</html>
